@import url('./fonts/font.css');

:root {
  --bg: #5a6b47;
  --card: #5a6b47;
  --text: #f5f7ff;
  --muted: #aab1d0;
  --accent: #4e8cff;
  --error: #ff5d7a;
}

* {
  box-sizing: border-box;
  outline: none;
}

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Ambidexter', system-ui, Arial;
  color: var(--text);
  background: var(--bg);
  padding: 32px;
}
.page {
  display: grid;
  place-items: center;
  min-height: 100%;
}

.title {
  font-size: 78px;
  color: #f3b216;
}
.card {
  width: 100%;
  height: 847px;
  background: var(--card);
  padding: 20px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.phones {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  font-size: 42px;
  /*font-family: 'FuturaPT';*/
}

.girl {
  color: #ff9ea7;
}

.boy {
  color: #56b0cbff;
}

.chart {
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  height: 720px;
  font-family: 'FuturaPT';
}
.error {
  background: rgba(255, 93, 122, 0.08);
  padding: 8px;
  border-radius: 8px;
  color: var(--error);
  margin-bottom: 10px;
}
